/* -------------------------- */
/*       - TYPOGRAPHY -                           
/* -------------------------- */

// -- Heading 1 Class -- \\
.heading-1 {
    font-weight: 400;
    font-size: 4.6rem;
    letter-spacing: .2rem;
    color: $color-white
}

// -- Heading 2 Class -- \\
.heading-2 {
    font-weight: 400;
    font-size: 3.2rem;
    letter-spacing: .1rem;
    color: $color-black;
}