/* -------------------------- */
/*       - BUTTONS -                           
/* -------------------------- */

// -- BUTTON STYLE #1 - Ghost White -- \\
.btn {
    display: inline;
    font-size: 1.4rem;
    text-decoration: none;
    color: $color-white;
    border: .2rem solid $color-white;
    padding: 1.5rem;
    transition: all .2s ease-in-out;
    // On hover
    &:hover {
        background-color: $color-white;
        color: $color-black;
    }
}

// -- BUTTON STYLE #2 - Ghost Black -- \\
.btn-2 {
    align-self: center;
    display: inline;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    color: $color-black;
    border: .2rem solid $color-black;
    padding: 1.2rem;
    transition: all .2s ease-in-out;
    // On hover
    &:hover {
        background-color: $color-black;
        color: $color-white;
        .btn-2__arrow { padding-left: 1rem; }
    }
    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-small) {
        padding: .8rem;
    }
}

// -- BUTTON STYLE #3 - Filled -- \\
.btn-3 {
    display: inline;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    color: $color-white;
    padding: 1.2rem;
    background-color: $color-primary;
    // On Hover
    &:hover {
        background-color: $color-primary-light;
    }
}


// -- CLOSE BUTTON -- \\
.close-container {
    position: relative;
    width: 5rem;
    height: 5rem;
    float: right;
    margin: -5rem 5rem 0 0;
    cursor: pointer;
    z-index: 5;
    display: block;
    // Make it fixed
    > div, label { position: fixed; }
  }
  
  .leftright {
    height: .4rem;
    width: 5rem;
    position: absolute;
    margin-top: 2.4rem;
    background-color: $color-white;
    border-radius: .2rem;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft {
    height: .4rem;
    width: 5rem;
    position: absolute;
    margin-top: 2.4rem;
    background-color: $color-white;
    border-radius: .2rem;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }
  
  label {
    color: $color-white;
    font-family: Helvetica, Arial, sans-serif; 
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: all .3s ease-in;
    opacity: 0;
  }
  .close { margin: 6rem 0 0 .5rem; position: absolute; }
  .close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: $color-primary;
  }
  .close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: $color-primary;
  }
  .close-container:hover label { opacity: 1; }
  
  