/* -------------------------- */
/*          - MENU -                           
/* -------------------------- */

// Main menu section wrapper
.menu-section { 
    position: relative; 
    min-height: 100vh; 
    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-largest-5) { min-height: 60vh; }
}

// ** --- Menu block-1 --- ** \\\
.menu-block-1, .menu-block-2, .menu-block-3, .menu-block-4 { width: 50%; overflow: hidden; }
.menu-block-1, .menu-block-3 { 
    float: left; 
    padding: 5rem 0 5rem 25rem; 
    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-desktop) { padding: 5rem 0 5rem 15rem; }
    @media only screen and (max-width: $bp-largest-5) { padding: 5rem 0 5rem 8rem; }
    @media only screen and (max-width: $bp-medium) { padding: 5rem 0 5rem 8rem; }
    @media only screen and (max-width: $bp-small) {
        padding: 0 4rem;
        margin: 0 auto;
        width: 100%;
    }
    @media only screen and (max-width: $bp-vsmall-4) { padding: 5rem 5rem 1rem 2rem; }
}
.menu-block-2, .menu-block-4 { 
    float: right; 
    padding: 5rem 15rem 5rem 15rem; 
    // * --- MEDIA QUERIES --- * \\
    @media only screen and (max-width: $bp-desktop) { padding: 5rem 0 5rem 10rem; }
    @media only screen and (max-width: $bp-largest-5) { padding: 5rem 0 5rem 3rem; }
    @media only screen and (max-width: $bp-medium) { padding: 5rem 0 5rem 5rem; }
    @media only screen and (max-width: $bp-small) {
        padding: 0 4rem; 
        margin: 0 auto;
        width: 100%;
    }
    @media only screen and (max-width: $bp-vsmall-4) { padding: 5rem 5rem 5rem 2rem; }
}
// Inner content div
.menu-block-content-1 { width: 100%; }
// Menu title heading div
.mb-heading-1 {
    padding: 5rem 0 1rem 0;
    text-align: center;
    // Before
    &::before {
        content: '';
        display: table;
    }
    // After
    &::after {
        clear: both;
        content: '';
        display: table;
    }
    // Heading
    &__heading {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 3.6rem;
        color: $color-gray-dark-7;
    }
    > .heading--1 { 
        padding-right: 9rem; 
        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-small) { padding: 0; }
    }
    > .heading--2 { 
        padding-right: 3rem; 
        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-desktop) { padding-right: 12rem; }
        @media only screen and (max-width: $bp-small) { padding: 0; }
    }
}
// -- LIST 1 -- \\
.mb-list-1 > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.mb-list-1 > ul > li { padding-bottom: 4rem; margin: 4rem 0; display: list-item;  }
// Dash Seperator
.priceListElement-dash--separator> ul > li {
    background-image: -webkit-radial-gradient(circle closest-side,rgba($color-black, .08) 99%,transparent 1%);
    background-image: radial-gradient(circle closest-side,rgba(0,-1,0,0.08) 99%,transparent 1%);
    background-position: bottom;
    background-size: 5px 3px;
    background-repeat: repeat-x;
}
// First list in item's ul
.menu-item-1 {
    display: inline-block;
    // Image div
    &__image {
        float: left;
        width: 11rem;
        height: 11rem;
        margin-right: 2rem;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        > img {
            height: 100%;
            transform: scale(1.05);
            backface-visibility: hidden;
            transition: all .5s;
        }
    }
    // Text Content 1
    &__content-1 {
        width: 100%;
        margin-left: 23%;
        // Main text
        &__itemMain { 
            margin-bottom: 1rem;
            margin-top: -3%;
            > .itemTitle-1 {
                font-size: 1.6rem;
                line-height: 1.9rem;
                font-weight: 400;
                display: inline-block;
            }
            > .price { padding-left: 8rem; display: inline-block; }
            > .clearfix { @include clearfix; }
            // * --- MEDIA QUERIES --- * \\
            @media only screen and (max-width: $bp-small) { margin-top: 3%; }
        }
        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-largest-5) { margin-left: 31%; }
    }
}

// --- ADDITIONALS --- \\
.itemMain2 {
    margin-left: 2%;
    @media only screen and (max-width: $bp-desktop) { margin-left: -1%; }
    @media only screen and (max-width: $bp-medium) { margin-left: -2%; }
}

.pp {
    @media only screen and (max-width: $bp-small) {
        padding-right: 5rem;
    }
}