/* -------------------------- */
/*        - FOOTER -                           
/* -------------------------- */

// Main footer wrapper
.footer {
    position: relative;
    min-height: 30vh;
    background-color: $color-gray-dark-8;
    color: $color-gray-dark-6;
    overflow: hidden;
    @media only screen and (max-width: $bp-medium) { min-height: 25vh; }
    // Content wrapper
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        > * { 
            padding: 5%;
            @media only screen and (max-width: $bp-medium) { padding: 10% 1.5%; }
        }
        // * --- MEDIA QUERIES --- * \\
        @media only screen and (max-width: $bp-small) { flex-direction: column; }
    }
}

.left {
    // Text
    &__text {
        font-weight: 300;
    }
    .span-1 { color: $color-gray-4; }
}

.center {
    font-size: 5rem;
    @media only screen and (max-width: $bp-medium) { font-size: 4rem; }
    @media only screen and (max-width: $bp-small) { font-size: 5rem; }
}

.right {
    display: flex;
    .small-nav {
        padding: 0 1rem;
        color: $color-gray-4;
        font-weight: 300;
        cursor: pointer;
    }
}